@import url('https://fonts.googleapis.com/css2?family=Outfit');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: #ffffff;
    font-family: 'Big Shoulders Display';
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 4px;
    text-decoration: none;
}
.tablet , .desktop , .grid-tablet , .grid-desktop{
    display: none;
}
.grid-mobile{
    max-width: 400px;
}
footer, .content , body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img-hero{
    width: 100%;
    display: flex;
    justify-content: center;
    background:linear-gradient(#E8E9EB, #E3E7E8) ;
}
.mobile{
    max-width: 375px;
}
.container{
    width: 90%;
}
footer{
    padding-top: 48px;
    padding-bottom: 48px;
    height: 336px;
    background: #151515;
}
footer .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer p {
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    color: #ffffff;
}
.social{
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}
h1{
    margin: 32px 0px 32px;
    font-family: 'Big Shoulders Display';
    font-size: 60px;
    font-weight: 900;
    line-height: 55px;
    text-transform: uppercase;
    color: #151515;
}
.div-1 p {
    margin-bottom: 32px;
    font-family: 'Outfit';
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    color: #444444;
    max-width: 400px;
}
.div-2{
    display: flex;
    width: 100%;
    gap: 16px;
    flex-direction: column;
}

.wrapper-2{
    height: 293px;
    background-color: #151515;
    padding: 48px 24px;
    margin-bottom: 120px;
    color: #ffffff;
    max-width: 400px;
}
.wrapper-1{
    order: -1;
}
.grid-1 , .grid-2, .grid-3{
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.wrapper-1 h2{
    margin: 9px 0px 21px;
    max-width: 400px;
    font-family: 'Big Shoulders Display';
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 45px;
    color: #151515;
}
.wrapper-1 p{
    font-weight: 300;
    font-family: 'Outfit';
    max-width: 400px;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
    margin-bottom: 16px;
} 
.wrapper-2 h2 {
    max-width:400px ;
    font-family: 'Big Shoulders Display';
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 45px;
    margin-bottom: 24px;
}
.wrapper-2 p{
    font-weight: 300;
    font-family: 'Outfit';
    max-width: 400px;
    font-size: 18px;
    line-height: 28px;
} 
.location{
    height: 72px;
    display: flex;
    margin-bottom: 120px;
}
button{
    width: 204px;
    height: 72px;
    background: #151515;
    border: none;

    
}
.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 72px;
    background: #D5966C;
}


@media screen and (min-width:768px) {
    .div-1{
        margin-left:53% ;
    }
    .div-2{
            gap: 11px;
            display: flex;
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 120px;
    }
    .wrapper-1 {
        width: 30%;
        order: 0;
    }
    .wrapper-2 {
       height: 100%;
       margin: 0;
       max-width: 400px;
    }
    .grid-3{
        max-height: 720px;
        flex: 1;
        max-width: 400px;
    }
    .grid-1{
        flex-direction: row;
        justify-content: space-between;
    }
    .grid-2{
        max-height: 720px;
        flex: 2;
        max-width: 400px;
    }
    h1{
        margin: 145px 0px 48px ;
        font-size: 70px;
        line-height: 65px;
    }
    .div-1 p{
        margin-bottom: 48px;
        font-size: 18px;
    }
    .location{
        margin-bottom: 265px;
    }
    .mobile, .desktop , .grid-mobile , .grid-desktop{
        display: none;
    }
    .tablet, .grid-tablet{
        max-height: 100%;
        display: block;
    }
  
    .img-hero{
        height: 700px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #ffffff;
        z-index: -1;
    }
    footer{
        padding-top: 56px;
        padding-bottom: 56px;
        height: 216px;
    }
    footer .container{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    footer p {
        margin-right: 10%;
        width: 40%;
        max-width: 430px;
    }
}
@media screen and (min-width:1140px) {
    .mobile, .tablet, .grid-mobile , .grid-tablet{
        display: none;
    }
    .img-hero{
        width: 990px;
    }
    .desktop, .grid-desktop{
        display: block;
    }
    .desktop{
    position: absolute;
    right: 0;
    }
    .div-1{
        margin: 190px 0px 495px;
        display: flex;
        justify-content: space-between;
    }
    .div-2{
        gap: 33px;
        margin-bottom: 180px;
    }
    .div-1 p{
        margin: 0;
        font-size: 22px;
        line-height: 32px;
        width: 360px;
        margin-bottom: 64px;
    }
    .container{
        width: 75%;
    }
    .location {
        margin: 0;
    }
    h1{
        font-style: normal;
        color: #ffffff;
        height: 176px;
        margin: 0;
        font-weight: 900;
        font-size: 96px;
        line-height: 88px;
        mix-blend-mode: difference;
    }
    .black{
        position: absolute;
        width: 450px;
        height: 800px;
        background: #151515;
        left: 0;
    }
    footer{
        padding-top: 80px;
        padding-bottom: 80px;
        height: 244px;
    }
    footer p {
      font-size: 18px;
    }
    .social path:hover{
        fill: #D5966C;
        cursor: pointer;
    }
    .wrapper-2, .grid-1{
        max-width: 100%;
    }
    .grid-3{
        max-height: 720px;
    }
    .grid-2 {
        height: 720px;
        max-width: 50%;
    }
    .location:hover button{
        background: #D5966C;
    }
    .location:hover .arrow{
        background: #151515;
    }
}